* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:rgb(187, 255, 245);
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

header,
footer {
    background-color:rgb(106, 252, 230);
    padding: 20px;
}

p {
    margin: 10px 0;
    padding-left: 3px;
}

h2 {
    padding: 3px;
}

nav {
    width: 25%;
}

nav ul {
    list-style-type: none;
}

nav li {
    background-color: rgb(96, 96, 96);
    padding: 8px;
}

nav li:hover {
    background-color: rgb(116, 116, 116);
}

nav li a {
    text-decoration: none;
    color: white;
    display: block;
}

.main-content {
    width: 75%;
}

.column {
    float: left;
    padding: 10px;
}

.clearfix::after{
    content:"";
    clear: both;
    display: table;
}
